.sidebar {
  width: 250px;
  height: auto;
  border-radius: 10px;
  background-color: rgb(197, 172, 144);
  color: rgb(42, 34, 34);
  position: fixed;
  left: 10px;
  top: 10px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border: 1px solid black;
  transition: height 0.3s ease;
}
  
.sidebar.collapsed {
  height: auto;
  overflow: hidden;
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid rgb(180, 157, 131);
  text-align: center;
}

.sidebar-header:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
  
.sidebar-header h1 {
  margin: 0;
  font-family: 'Pacifico';
  font-size: 2.5rem;
  color: rgb(42, 34, 34);
}

.sidebar-nav {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.sidebar-nav.hidden {
  display: none;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  text-decoration: none;
  color: rgb(42, 34, 34);
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: rgb(180, 157, 131);
}

.nav-link span {
  font-size: 1.25rem;
  font-weight: bold;
}

.nav-icon {
  margin-right: 10px;
  font-size: 18px;
}

.active-link {
  background-color: rgb(238, 229, 220);
  border-left: 4px solid rgb(42, 34, 34);
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .sidebar-header {
    display: none;
  }
  
  .sidebar-nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }
}