:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  --primary-color: #8B5E3C; /* dark brown */
  --secondary-color: #DDBEA9; /* light beige */
  --accent-color: #222; /* for text */
  --button-color: #d99a6c;
  --button-hover: #b6754e;

  color: var(--accent-color);
  background-color: var(--secondary-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
  background-image: url('./assets/images/default_background.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
}

body {
  background-image: url('./assets/images/default_background.png');
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

/* center main content */
.container {
  text-align: center;
  max-width: 900px;
  padding: 2rem;
}

/* header styling */
h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  font-style: italic;
  color: var(--accent-color);
}