/* Resize the page to 1920x978 and remove any default margin and padding */
body {
    width: 1920px;
    height: 978px;
    max-width: 1920px;
    max-height: 978px;
    min-width: 1920px;
    min-height: 978px;
    
    margin: 0;
    padding: 0;
}

#desktop_reminder_container {
    width: 1920px;
    height: 978px;

    max-width: 1920px;
    max-height: 978px;

    background-color: #DDBEA9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pet_profile_container {
    width: 880px;
    height: 380px;

    max-width: 880px;
    max-height: 380px;

    border: 2px dotted white;

    padding: 20px;
    background-color: #F7E1D7;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

#pet_profile_wrapper {
    display: flex;
    flex-direction: row;
}

#pet_profile_image {
    width: 200px;
    height: 200px;
    border-radius: 28px;
}

#pet_profile_info {
    width: 380px;
    height: 200px;

    color: black;
    text-align: left;
    margin-left: 10px;
}

#pet_profile_info_additional_info {
    overflow: auto;
}

#enable_reminder_container {
    margin-left: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    color: #4A5759;
}


#additional_pet_container {
    width: 600px;
    height: 100%;
    display: flex;

    margin-top: 20px;
    overflow-x: auto;
    overflow-y: auto;
}

.additional_pet {
    margin-right: 40px;
}

.additional_pet_img {
    width: 100px;
    height: 100px;
}

.additional_pet_name {
    margin: 0;

    color: #4A5759;
    text-align: center;
}

#add_pet_button {
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 14px;
    background-color: #B0C4B1;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reminder_header_container {
    width: 880px;
    max-width: 880px;
}

.reminder_container {
    width: 880px;
    max-width: 880px;
    height: 450px;

    border: 2px dotted white;
    border-radius: 32px;
    background-color: #F7E1D7;
    overflow-y: auto;

}

.reminder_list {
    padding: 20px;
}

#new_reminder_button {
    border-radius: 16px;
    box-shadow: none;
    background-color: #B0C4B1;
}

#edit_reminder_button {
    border-radius: 16px;
    box-shadow: none;
    background-color: #EDAFB8;
}

.edit_reminder_button {
    width: 80px;
    height: 40px;
    min-width: 80px;
    min-height: 40px;
    border-radius: 16px;
    box-shadow: none;
    background-color: #EDAFB8;
    border: none;
    color: white;
}

.save_and_cancel_button_container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Popup_id {
    color: black;
}

.popup_container .react-popup-content {
    width: 500px;
    height: 300px;
}

#left_side_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right_side_container {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#calendar_container {
    width: 780px;
    max-width: 780px;
    height: 936px;

    border-radius: 32px;
    background-color: #F7E1D7;
    border: 2px dotted white;
    overflow-y: auto;
}

.reminder_item_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reminder_title_container {
    width: 600px;
    padding: 6px;
    display: flex;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #B0C4B1;
}

.reminder_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.reminder_description {
    border: 2px solid #B0C4B1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: whitesmoke;
    margin-top: 0;
}

.reminder_date {
    display: flex;
    align-items: center;
}

.reminder_date span {
    color: #EDAFB8;
    margin-right: 8px;
}

#filtered_reminder_list {
    padding: 0%;
    padding-left: 20px;
    padding-right: 20px;
}

#edit_reminder_list {
    padding: 0%;
    padding-right: 20px;
}

/* Remove buttlet points */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

