.navbar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    z-index: 100;
    background-color: #F7E1D7;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted white;
}

.navbar_left {
    display: flex;
    justify-content: flex-start;
}

.navbar_right {
    display: flex;
    gap: 5px;
}

.navbar_link_logo {
    font-family: 'Pacifico';
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar_link_logo {
    display: none;
}

.navbar_link {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (min-width: 600px) {
    .navbar_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5vh;
        z-index: 100;
        background-color: #F7E1D7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px dotted white;
    }
    
    #navbar_link_logo {
        display: block;
    }
    .navbar_left {
        display: flex;
        justify-content: flex-start;
    }
    
    .navbar_right {
        display: flex;
        gap: 10px;
    }
    
    .navbar_link_logo {
        font-family: 'Pacifico';
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .navbar_link {
        text-decoration: none;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
}